<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cc.springbootmodel.dao.DataDirMapper">
    <resultMap id="BaseResultMap" type="com.cc.springbootmodel.entity.DataDir">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="resource_name" property="resourceName" jdbcType="VARCHAR"/>
        <result column="key_first" property="keyFirst" jdbcType="VARCHAR"/>
        <result column="key_second" property="keySecond" jdbcType="VARCHAR"/>
        <result column="key_class" property="keyClass" jdbcType="VARCHAR"/>
        <result column="attr_class" property="attrClass" jdbcType="VARCHAR"/>
        <result column="org_type" property="orgType" jdbcType="VARCHAR"/>
        <result column="data_records" property="dataRecords" jdbcType="INTEGER"/>
        <result column="data_size" property="dataSize" jdbcType="DOUBLE"/>
        <result column="update_cycle" property="updateCycle" jdbcType="VARCHAR"/>
        <result column="data_day_increase_num" property="dataDayIncreaseNum" jdbcType="INTEGER"/>
    </resultMap>

    <!--  这里的id是接口中的方法名-->
    <select id="getResourceNum" resultType="java.lang.Integer">
        select ifnull(count(distinct resource_name), 0) from data_dir where 1=1
        <if test="dataDir.keyFirst != null">
            and key_first = #{dataDir.keyFirst}
        </if>
        <if test="dataDir.keySecond != null">
            and key_second = #{dataDir.keySecond}
        </if>
        <if test="dataDir.keyClass != null">
            and key_class = #{dataDir.keyClass}
        </if>
        <if test="dataDir.attrClass != null">
            and attr_class = #{dataDir.attrClass}
        </if>
        <if test="dataDir.orgType != null">
            and org_type = #{dataDir.orgType}
        </if>
    </select>
    <select id="getRecordNum" resultType="java.lang.Integer">
        select ifnull(sum(data_records),0) from data_dir where 1=1
        <if test="dataDir.keyFirst != null">
            and key_first = #{dataDir.keyFirst}
        </if>
        <if test="dataDir.keySecond != null">
            and key_second = #{dataDir.keySecond}
        </if>
        <if test="dataDir.keyClass != null">
            and key_class = #{dataDir.keyClass}
        </if>
        <if test="dataDir.attrClass != null">
            and attr_class = #{dataDir.attrClass}
        </if>
        <if test="dataDir.orgType != null">
            and org_type = #{dataDir.orgType}
        </if>
    </select>
    <select id="getDataSize" resultType="java.lang.Integer">
        select ifnull(sum(data_size),0) from data_dir where 1=1
        <if test="dataDir.keyFirst != null">
            and key_first = #{dataDir.keyFirst}
        </if>
        <if test="dataDir.keySecond != null">
            and key_second = #{dataDir.keySecond}
        </if>
        <if test="dataDir.keyClass != null">
            and key_class = #{dataDir.keyClass}
        </if>
        <if test="dataDir.attrClass != null">
            and attr_class = #{dataDir.attrClass}
        </if>
        <if test="dataDir.orgType != null">
            and org_type = #{dataDir.orgType}
        </if>
    </select>
    <select id="getSpeed" resultType="java.lang.Integer">
        select ifnull(sum(data_day_increase_num),0) from data_dir where 1=1
        <if test="dataDir.keyFirst != null">
            and key_first = #{dataDir.keyFirst}
        </if>
        <if test="dataDir.keySecond != null">
            and key_second = #{dataDir.keySecond}
        </if>
        <if test="dataDir.keyClass != null">
            and key_class = #{dataDir.keyClass}
        </if>
        <if test="dataDir.attrClass != null">
            and attr_class = #{dataDir.attrClass}
        </if>
        <if test="dataDir.orgType != null">
            and org_type = #{dataDir.orgType}
        </if>
    </select>
    <select id="getFirstKeyList" resultType="java.lang.String">
    select distinct key_first from data_dir where 1=1
  </select>
    <select id="getSecondKeyList" resultType="java.lang.String">
    select distinct key_second from data_dir where 1=1
  </select>
    <select id="getKeyClassList" resultType="java.lang.String">
    select distinct key_class from data_dir where 1=1
  </select>
    <select id="getAttrClassList" resultType="java.lang.String">
    select distinct attr_class from data_dir where 1=1
  </select>
    <select id="getDataDirList" resultType="java.util.Map">
        SELECT resource_name, org_type, update_cycle, sum(data_records) as data_records, sum(data_day_increase_num) as data_day_increase_num, sum(data_size) as data_size
        FROM data_dir where 1=1
        <if test="dataDir.keyFirst != null">
            and key_first = #{dataDir.keyFirst}
        </if>
        <if test="dataDir.keySecond != null">
            and key_second = #{dataDir.keySecond}
        </if>
        <if test="dataDir.keyClass != null">
            and key_class = #{dataDir.keyClass}
        </if>
        <if test="dataDir.attrClass != null">
            and attr_class = #{dataDir.attrClass}
        </if>
        <if test="dataDir.orgType != null">
            and org_type = #{dataDir.orgType}
        </if>
        GROUP BY resource_name, org_type, update_cycle
    </select>
</mapper>